body {
     padding: 0;
     margin: 0;
}
 html,body, #map {
     height: 100%;
     font: Roboto, Arial,  sans-serif;
     font-size: 16px;
     font-family: Roboto, Arial, sans-serif;
     line-height: 100%;
     color: #002e4f;
}

a {
	color: #5d9ec6;
    text-decoration: none;
}

p {
    line-height: 20px;

}


 .leaflet-sidebar-header, .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
     background-color: #002e4f;
}


 .switch {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 17px;
}
 .switch input {
    display:none;
}
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .2s;
     transition: .2s;
     border-radius: 34px;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 13px;
     width: 13px;
     left: 2px;
     bottom: 2px;
     background-color: white;
     -webkit-transition: .2s;
     transition: .2s;
     border-radius: 50%;
}
 input:checked + .slider {
     background-color: #5d9ec6;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(13px);
     -ms-transform: translateX(13px);
     transform: translateX(13px);
}

.minimap__legend,.togglebutton__p{
    display:inline-block;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.filter {
    width: 17em;
    white-space: nowrap;
    padding: 0px 0px 20px 30px; /* top, right, bottom, left*/
    border-bottom: 1px solid #cacaca;
}
.filter__input{
    width:45%;
}

.minimap{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px; /* top, right, bottom, left*/
}
.minimap__img{
    width:80px;
    height:80px;
    border-width:0; 
    padding: 5px 5px 5px 5px; /* top, right, bottom, left*/
    outline: 0.3px solid #cacaca;
    outline-offset: -5px;
}

.sidebar_h2{
    font-size: 20px;
}

.sidebar_h3{
    width: 16em;
    font-size: 20px;

    padding: 5px 0px 5px 0px; /* top, right, bottom, left*/
}
.paragraph_filter{
    width: 18em;
}

.sidebar_h4{
    font-size: 16px;
    padding: 0px 0px 0px 0px; /* top, right, bottom, left*/
    /*font-weight: normal;
    text-align: center;*/
}
.fa-filter{
    font-size:16px;
    padding: 0px 10px 0px 0px; /* top, right, bottom, left*/
}

.togglebutton{
    height: 30px;
    padding: 0px 0px 0px 30px; /* top, right, bottom, left*/
    display: flex;
    align-items: center;
}
.togglebutton__p{
    padding: 0px 0px 0px 10px; /* top, right, bottom, left*/
}

.paragraph{
    padding: 10px 0px 10px 0px; /* top, right, bottom, left*/
}

.license{
   position: absolute;
   bottom: 0;
}

.dropdown{
    width: 16em;
    padding: 0px 20px 20px 30px; /* top, right, bottom, left*/
    border-bottom: 1px solid #cacaca;
}
.justaline{
    border-bottom: 1px solid #cacaca;
    padding: 0px 0px 0px 20px; /* top, right, bottom, left*/
    width: 18em;
}
.selection_detail_header{
    font-size:16px;
    color:#fff;
    background-color: #002e4f;
}
.info h4 {
    margin: 0 0 5px;
    color: #fff;
    padding: 5px 5px 5px 5px; /* top, right, bottom, left*/
}
.selection_detail{
    font-size:16px;

}

.legend{
    padding: 0px 0px 10px 0px; /* top, right, bottom, left*/
}
.legend__unit{
    padding: 0px 0px 0px 30px; /* top, right, bottom, left*/

}
.legend__text{
    display:inline;
}
.legend__img{
    display:inline;
    padding: 0px 7px 0px 60px; /* top, right, bottom, left*/
}

.hideme{
    display:none;
}

